@import "../../app/variables.scss";

.expandedDay {
  // max-width: 100%; // Встановлює ширину на 100% батьківського контейнера
  // max-height: 80vh; // Встановлює максимальну висоту
  margin-top: 5px;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 10px;
  max-width: $contentWidth;
  overflow-y: scroll;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  

  &Title {
    align-self: center;
    text-align: center;
    margin: 5px 0;
  }

  &Begin,
  &End,
  &Description,
  &Priority {
    margin: 0 0 5px 0;
  }

  &Photo {
    align-self: center;
    max-width: 100%; // Зменшує ширину зображення до ширини контейнера
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px auto;
  }
  &RowsHeaders {
    font-weight: 800;
  }
}

@media screen and (max-width: 500px) {
  .expandedDay {
    &Title {
      font-size: 20px;
    }

    &Begin,
    &End,
    &Description,
    &Priority {
      font-size: 12px;
    }
  }
}
