//-------------------colors-------------------
$mainGrayGradient: radial-gradient(circle, rgba(158,158,158,1) 0%, rgba(66,66,66,1) 100%);
$mainBackground: #afafaf7c;
$mainGray: #8c8c8c;
$main: #00034b;
$lightGray: #b5b5b5;

$white: #ffffff;


//-------------------sizes-------------------

$contentWidth: 1280px;