@import "../../app/variables.scss";

.day {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: $contentWidth;
  background: $mainGray;
  // border: 5px solid $mainGray;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/calendar-react-85cff.appspot.com/o/commonImages%2F%D0%91%D0%B5%D0%BA%20%D0%A4%D0%BE%D1%82%D0%BE.jpg?alt=media&token=8a9a9472-b6c3-41d2-862f-b1ec7d077e7d");

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  & a {
    background: $mainGray;
    // border: 5px solid $main;
  }

  &Item {
    border: 2px solid $mainBackground;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    align-items: start;
    gap: 2px;
    border-radius: 10px;
  }

  &Item > * {
    margin: 0 10px;
    max-width: 90%;
  }

  &EditToolsContainer {
    align-self: end;
  }

  &EditTools {
    cursor: pointer;
    margin: 0 10px 0 0;
    fill: $main;
    width: 20px;
  }
}
