@import "../../app/variables.scss";

.calendarTile {
  height: 100px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.calendarPage {
  box-sizing: border-box;
  width: 100%;
  max-width: $contentWidth;
  background: $mainBackground;
  border: 0px solid $mainGray;
  padding: 10px;
  margin: 0 auto;
}
