@import "../../app/variables.scss";

.container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer {
  box-sizing: border-box;
  & h4 {
    margin: 0;
    padding: 0;
  }
  max-width: $contentWidth;
  margin: 0 auto;
  height: 100px;
  background: $mainGrayGradient;

  &Title {
    font-weight: thin;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    line-height: 50px;
  }
}
