@import "../../app/variables.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: $mainGray;
  

  &Title {
    font-weight: thin;
    color: #000000;
    text-align: center;
    // line-height: 50px;
  }
}